<div class="container overflow-hidden">
  <app-page-navigation (refreshData)="refreshData()"></app-page-navigation>
  <ng-container *ngIf="data$ | async as data">
    <div class="row mt-5 gx-5">
      <div class="col">
        <app-battery-status
          [availableDischargePowerKw]="data.availableDischargePowerKw"
        ></app-battery-status>
      </div>
      <div class="col">
        <app-battery-power
          [batteryPowerKw]="data.batteryPowerKw"
        ></app-battery-power>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col">
        <app-battery-capacity-remaining
          [chargeCapacityRemainingKwh]="data.chargeCapacityRemainingKwh"
          [dischargeCapacityRemainingKwh]="data.dischargeCapacityRemainingKwh"
        ></app-battery-capacity-remaining>
      </div>
    </div>
  </ng-container>
  <div class="row mt-5">
    <div class="col">
      <app-power-chart />
    </div>
  </div>
</div>
